body{
    background-color: whitesmoke;
}
table, th, tr, td{
    border-collapse: collapse;
    border: 1px solid black;
}
img{
    border-style: groove;
}
input, select{
    border-style: none;
    border-bottom-style:solid;
    border-bottom-color: rgb(145, 145, 247);
    background-color: white;
}
input{
    width: 200px;
    height: 35px;
}
select{
    height: 30px;
}
